.container {
    width: 740px;
    margin: auto;
}
.main-header {
	height: 110px;
    color: #FFF;
    background: #4e5d94;
    padding-right: 250px;
    font-size: 40px;
}
.main-content {
	padding: 20px;
	background: #FFF;
	height: 300px
}
.main-footer {
	height: 20px;
	color: #FFF;
	background: #222;
}
.base {
	color: #FFF;
	text-align: center;
}
#top-left-img {
	padding-right: 150px;
}
body {
	background-color: #2c3263;
	margin: 20px;
}
.list {
	float: left;

}
.sub-content {
float: right;
width: 500px;

}