.container {
	height: 1000px;
    width: 740px;
    margin: auto;
}
.main-header {
	height: 110px;
    color: #FFF;
    background: #4e5d94;
    padding-right: 250px;
    font-size: 40px;
}
.main-content {
	padding: 20px;
	height: 900px;
	background: #FFF;
}
.main-footer {
	height: 20px;
	color: #FFF;
	background: #222;
}
.base {
	color: #FFF;
	text-align: center;
}
#top-left-img {
	padding-right: 150px;
}
body {
	background-color: #2c3263;
	margin: 20px;
}
.list {
	text-decoration: none;
	width: 150px;
	height: 100px;
	margin-right: 0;

}
.sub-content {
width: 590px;
float: right;
}
.list ul {
	padding-left: 0;
}
.list ul li {
	border-bottom: 1px solid #000;
	padding: 20px;
	list-style: none;
}
.list p {
	font-size: 12px;
}